@font-face {
    font-family: 'MyFont';
    src: url('../src/Poppins-Bold.ttf'),
      url('../src/Poppins-Light.ttf');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
    background-repeat: no-repeat;
}